<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/monkey.png" type="image/png" />
    <title>DevChat</title>
    <script type="module" src="/scripts/main.mjs" defer></script>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <h1>DevChat</h1>
    </header>
    <aside></aside>
    <main></main>
    <footer>
      <form>
        <input type="text" placeholder="Type your message" />
        <button type="submit">Send</button>
      </form>
    </footer>
  </body>
</html>
